.category {
  display: flex;
  background: #ddd;
  border-radius: 2px;
  color: #666;
  white-space: nowrap;
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 5px;
  &.nvm-has-x {
    .category-name {
      padding-right: 0;
    }
    .category-remove-button {
      display: flex;
    }
  }
  &-name {
    padding: 2px 6px;
  }
  &-remove-button {
    border: none;
    outline: none;
    background: transparent;
    justify-content: center;
    align-items: center;

    display: none;
    &:hover {
      color: red;
    }
    cursor: pointer;
  }
}
